@model IEnumerable<Pizzeria.Models.Utenti>

@{
    ViewBag.Title = "ListaClienti";
}

<h2 class="text-center my-3">Clienti</h2>


<div class="container">

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Citta)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cognome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Indirizzo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Citta)
        </td>
        <td>
            @Html.ActionLink("Modifica", "ModificaCliente", new { id=item.IdUtenti }, new { @class="btn btn-outline-danger"}) 
            @Html.ActionLink("Dettagli", "DettaglioClienti", new { id=item.IdUtenti }, new {@class="btn btn-outline-danger"}) 
            @Html.ActionLink("Elimina", "Delete", new { id=item.IdUtenti }, new {@class="btn btn-outline-danger"})
       </td>
    </tr>
}

</table>
</div>
