@model Pizzeria.Models.Utenti

@{
    ViewBag.Title = "Login";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="container">

    <section class="p-4">
        <div class="bg-white border rounded-5">

            <section class="w-100">
                <style>
        .bg-image-vertical {
          position: relative;
          overflow: hidden;
          background-repeat: no-repeat;
          background-position: right center;
          background-size: auto 100%;
        }
            </style>
                <div class="row">
                    <div class="col-sm-6 px-0 d-none d-sm-block">
                        <img src="https://www.molinobigolingiovanni.it/wp-content/uploads/pizza3-1200x664.jpg" alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
                    </div>
                    <div class="col-sm-6 text-black">
                        <div class="d-flex flex-column align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

                            <form style="width: 23rem;">
                                @Html.HiddenFor(m=>m.IdUtenti)
                              
                                
                                <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>

                                <div class="form-outline mb-4">
                                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "Username" } })
                                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                    <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div>
                                </div>

                                <div class="form-outline mb-4">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "Password", type = "password" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64.8px;"></div><div class="form-notch-trailing"></div></div>
                                </div>

                                <div class="pt-1 mb-4">
                                    <button class="btn btn-outline-danger btn-lg btn-block" type="submit">Login</button>
                                </div>

                                <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a></p>
                                <p>Non hai un Account? <a href="Registrati" class="link-info">Registrati Qui</a></p>

                            </form>

                        </div>

                    </div>

                </div>
            </section>


        </div>
    </section>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
